// -------------------
// BUTTON
//
// Component File
// -------------------

@wrapper-padding: @wrapper-dimension;
@button-radius: 100%;


.Button {
  border-radius: 100%;
  padding: @wrapper-padding;
  

}
