// -------------------
// SWITCH
//
// Component File
// -------------------


@handle-dimensions: 26px;
@switch-border-radius: @handle-dimensions;
@wrapper-padding: @wrapper-dimension;
@switch-padding: 3px;
@handle-padding: @wrapper-padding;
@text-padding: 15px;


.Switch {
  display: inline-block;
  padding: @wrapper-padding;
  border-radius: @switch-border-radius;
  background: @white;
  background: @wrapper-gradient;

  &__background {
    width: @handle-dimensions * 3 - 5px + (@switch-padding * 2);
    height: @handle-dimensions + @switch-padding * 2;
    background: @green;
    border-radius: @switch-border-radius;
    padding: @switch-padding;
    box-shadow: @inner-basic;
    position: relative;
    overflow: hidden;
    transition: all @base-transition-time-short ease-in-out;
  }

  &__content {
    position: absolute;
    height: 100%;
    left: @switch-padding;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all @base-transition-time cubic-bezier(0.65, 0.05, 0.36, 1);

    &:active {
      transform: translateX(-5px);
    }
  }

  &__text {
    font-size: 1.2em;
    text-align: center;
    width: @handle-dimensions * 2 - 5px;
    color: @white;
    text-shadow: 0 1px 2px rgba(0,0,0,0.33);
  }

  &__handle {
    width: @handle-dimensions;
    height: @handle-dimensions;
    border-radius: 100%;
    background: @light-to-dark;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.38);
    padding: @handle-padding;

    &:hover {
      cursor: pointer;
    }
  }

  &__handleInset {
    border-radius: 100%;
    height: 100%;
    width: 100%;
    background: @dark-to-light;
  }


  &--disabled {
    .Switch__background {
      background: @grey-350;
    }

    .Switch__content {
      transform: translateX(-@handle-dimensions * 2 + 5px);

      &:active {
        transform: translateX(-@handle-dimensions * 2 + 10px);
      }
    }
  }
}
