// -------------------
// VARS
//
// Variables File
// -------------------

@import "colors";


// TYPE
@base-font-size: 15px;
@base-font-family: "Montserrat", sans-serif;
@base-line-height: 1.5;


// FONTS
@skeukit-fonts-path: "../fonts";


// CONST

@wrapper-dimension: 5px;


// SHADOWS
@inner-basic: inset 0 1px 2px 0 rgba(0,0,0,0.33);
@inner-deep: inset 0 3px 5px 0 rgba(0,0,0,0.33);


// GRADIENTS
@wrapper-gradient: linear-gradient(-180deg, @background 0%, @white 50%);
@light-to-dark: linear-gradient(-180deg, @white 0%, @grey-100 100%);
@dark-to-light: linear-gradient(-180deg, @grey-100 0%, @white 100%);


// TRANSITIONS
@base-transition-time: 0.3s;
@base-transition-time-short: @base-transition-time / 2;



// MEDIA QUERIES
@screen-xs: ~'only screen and (max-width: 320px)';
@screen-s: ~'only screen and (max-width: 480px)';
@screen-m: ~'only screen and (max-width: 768px)';
@screen-l: ~'only screen and (max-width: 992px)';
@screen-xl: ~'only screen and (max-width: 1200px)';
@screen-s-or-m: ~'(max-width: 480px), (max-width: 768px)';
@greater-than-maximum-width: ~'only screen and (min-width: 1200px)';
@greater-than-minimum-width: ~'only screen and (min-width: 1000px)';
